@* @using Microsoft.AspNetCore.Identity
@using MqttWebApp.Models
@inject UserManager<AppUser> UserManager *@
@{
    var userImage = User.Identity != null && User.Identity.IsAuthenticated ? "assets/images/users/user-dummy-img.jpg" : "assets/images/users/user-dummy-img.jpg";
    @* var user = await UserManager.GetUserAsync(User);
    var userFName = user != null ? user.FirstName : "Guest";
    var userLName = user != null ? user.LastName : "Guest";
    var userRole = user != null ? user.CompRole : "Guest";
    ViewData["UserRole"] = userRole;
    ViewData["User"] = userFName;
    ViewData["FullName"] = userFName + " " + userLName;*@
    ViewData["Role"] = "Managment";
    ViewData["UserRole"] = "Temp";
    ViewData["User"] = "Johnny";
    ViewData["FullName"] = "Johnny" + " " + "Deep";
    ViewData["Role"] = "Temp";
    var roles = new List<string>();
}

<div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="17">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>
    
            <div class="dropdown sidebar-user m-1 rounded">
                <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex align-items-center gap-2">
                        <img class="rounded header-profile-user" src="assets/images/users/user-dummy-img.jpg" alt="Header Avatar">
                        <span class="text-start">
                            <span class="d-block fw-medium sidebar-user-name-text">@ViewData["FullName"]</span>
                            <span class="d-block fs-14 sidebar-user-name-sub-text"><i class="ri ri-circle-fill fs-10 text-success align-baseline"></i> <span class="align-middle">Online</span></span>
                        </span>
                    </span>
                </button>
                @await Html.PartialAsync("_UserDropdown", ViewData)
            </div>
            <div id="scrollbar">
                <div class="container-fluid">


                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboard</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/" class="nav-link" data-key="t-analytics"> Home </a>
                                    </li>
                                </ul>
                            </div>
                        </li> <!-- end Dashboard Menu -->
                        
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarStaff" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarStaff">
                                <i class="ri-user-2-line"></i> <span data-key="t-staff">Staff</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarStaff">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Staff" class="nav-link" data-key="t-staff-list"> Staff List </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarPatient" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPatient">
                                <i class="ri-user-heart-line"></i> <span data-key="t-patient">Patient</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarPatient">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Patient" class="nav-link" data-key="t-patient-list"> Patient List </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Patient/Visits" class="nav-link" data-key="t-patient-visits"> Patient Visits </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Patient/MedicalHistory" class="nav-link" data-key="t-medical-history"> Medical History </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-title">
                            <span data-key="t-settings">SETTING</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link make-hover" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas">
                                <i class="ri-brush-fill"></i><span data-key="t-themesettings">Theme settings</span>
                            </a>
                            <style>
                                .make-hover:hover {
                                    cursor: pointer;
                                }
                            </style>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>